/* Assignment.css */

.assignment-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.assignment-description-container {
  padding: 24px;
  border-radius: 8px;
}

.assignment-upload-container {
  background-color: var(--color-bg-primary);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgb(215, 212, 212);
}

@media (min-width: 768px) {
  .assignment-container {
    flex-direction: row;
  }
  .assignment-description-container {
    flex: 1;
    margin-right: 24px;
  }
}
