@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Hanuman:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #e0d1ff;
  /* --color-bg-highlight: #774ed1; */
  /* --color-bg-highlight: #ff7d31; */
  --color-bg-highlight: #ff3453;
  --color-shadow: lightgray;

  --color-btn-shadow: #e0d1ffb3;
  --color-btn-secondary: #e0d1ff;
  --color-btn-primary-hover: #774ed1;
  --color-btn-secondary-hover: #d2bdfd;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: var(--color-bg-primary); */
}

a {
  text-decoration: none;
}

body[data-theme="dark"] {
  --color-bg-primary: #262528;
  --color-bg-secondary: rgba(55, 54, 59, 0.5);
  --color-shadow: transparent;
  color: white;
  background-color: var(--color-bg-primary);
}

body[data-theme="light"] {
  /* --color-bg-primary: #e4e4e4; */
  --color-bg-primary: #ffffff;
  /* --color-bg-secondary: rgba(8, 8, 8, 0.5); */
  --color-bg-secondary: white;
  color: black;
  --color-shadow: rgba(226, 226, 226, 0.753);
  background-color: var(--color-bg-primary);
}

/* Utility Classes */
.text-highlight {
  color: var(--color-bg-highlight);
}

.btn-secondary {
  color: var(--color-bg-highlight);
  background-color: var(--color-btn-secondary);
  border: none;
  outline: none;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-secondary:hover {
  background-color: var(--color-btn-secondary-hover);
}

.btn-primary {
  color: white;
  background-color: var(--color-bg-highlight);
  border: none;
  outline: none;
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-primary:hover {
  background-color: var(--color-btn-primary-hover);
}

:where(.css-dev-only-do-not-override-kghr11).ant-layout {
  background-color: var(--color-bg-primary);
}

/* Scroll Bar */

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 var(--color-bg-primary); /* Color of the scrollbar thumb and track */
}
